<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.flutter_app01">

    <!--
         io.flutter.app.FlutterApplication is an android.app.Application that
         calls FlutterMain.startInitialization(this); in its onCreate method.
         In most cases you can leave this as-is, but you if you want to provide
         additional functionality it is fine to subclass or reimplement
         FlutterApplication and put your custom class here.
    -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 推送所需的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="io.flutter.app.FlutterApplication"
        android:icon="@mipmap/icon"
        android:label="九职小猫"
        android:usesCleartextTraffic="true"
        tools:replace="label">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">

            <!--
                 This keeps the window background of the activity showing
                 until Flutter renders its first frame. It can be removed if
                 there is no splash screen (such as the default splash screen
                 defined in @style/LaunchTheme).
            -->
            <meta-data
                android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".WebView.MyWebView"></activity>

<!--        <service-->
<!--            android:name="cn.bmob.push.lib.service.PushService"-->
<!--            android:exported="true"-->
<!--            android:label="PushService"-->
<!--            android:process=":bmobpush">-->
<!--            <intent-filter>-->
<!--                <action android:name="cn.bmob.push.lib.service.PushService" />-->
<!--            </intent-filter>-->
<!--        </service>-->

        <!-- 用于进程保活 -->
<!--        <service-->
<!--            android:name="cn.bmob.push.lib.service.PushNotifyService"-->
<!--            android:process=":bmobpush"></service>-->

<!--        <receiver android:name="cn.bmob.push.PushReceiver">-->
<!--            <intent-filter>-->

<!--                &lt;!&ndash; 系统启动完成后会调用 &ndash;&gt;-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--                &lt;!&ndash; 解锁完成后会调用 &ndash;&gt;-->
<!--                <action android:name="android.intent.action.USER_PRESENT" />-->
<!--                &lt;!&ndash; 监听网络连通性 &ndash;&gt;-->
<!--                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <!-- 第3步中创建的消息接收器，在这里进行注册 -->
<!--        <receiver android:name=".Receiver.MyPushReceiver">-->
<!--            <intent-filter>-->
<!--                <action android:name="cn.bmob.push.action.MESSAGE" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <!-- 接收心跳和唤醒的广播，要和PushService运行在同个进程 -->
<!--        <receiver-->
<!--            android:name="cn.bmob.push.PushNotifyReceiver"-->
<!--            android:process=":bmobpush">-->
<!--            <intent-filter>-->

<!--                &lt;!&ndash; 接收心跳广播的action &ndash;&gt;-->
<!--                <action android:name="cn.bmob.push.action.HEARTBEAT" />-->
<!--                &lt;!&ndash; 接收唤醒广播的action &ndash;&gt;-->
<!--                <action android:name="cn.bmob.push.action.NOTIFY" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
<!--        <receiver android:name=".Receiver.NotificationReceiver">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.example.broadcasttest.MY_BROADCAST" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

    </application>

</manifest>